@{
    Layout = "~/Views/Shared/_Login.cshtml";
}


<section class="col-12 offset-sm-1 col-sm-10" style="background-color: white ; border-radius: 16px; margin-top: 50px; ">

    <br>
    <div class="col-12 offset-sm-1 col-sm-4  marginBotton marginTop">
        <a href="@Url.Action("InicioApp", "SesionUsuario")"> <button id="BotonPrimario" class="col-md-4 col-12 btn BotonConAccion" title="Regresar a la pagina de inicio"> <i class="fas fa-arrow-left"> Inicio </i>  </button></a>
    </div>
    
    <br>
    <div class="offset-1 col-10 offset-sm-2 col-sm-8 text-center" style="background-color: rgba(243, 247, 15, 0.61); border-radius: 24px;">
        <br>
        <h4>Hemos detectado la solicitud de recuperacion : </h4>
        <h4>De su cuenta al "ECOSISTEMA ALPHABET" </h4>
        <div class="row">
            <h5>Para mantener la seguridad de su cuenta le sugerimos "NO COMPARTIR":</h5>
            <ol>
                <ul>Contraseñas.</ul>
                <ul>Nombres de usuario.</ul>
                <ul>Correos Electronicos.</ul>
            </ol>
        </div>

        <h6 style="color: red;">Si usted no solicito el cambio de su contraseña comunícaselo a un desarrollador.</h6>
        <br>
    </div>

    <br>
    <div class="col-12 offset-sm-3 col-sm-6 text-center">

        <hr>

        @*<h2>Hola, Bienvendido Edgar Manzanilla</h2>
        <P>Esta a un paso de recuperar el acceso al "ECOSISTEMA APLHA"</P>

        <hr>*@
        <span style="font-size: 32px; font-weight:bold; "> Hola, Bienvendido </span>

        <br />
        <span class="margen" style="font-size: 24px; font-weight:bold; ">@ViewBag.NombreCompleto </span>
        <br />
        <br />
        <br />
        <P class="margen" style="font-size:16px; font-weight:bold; letter-spacing:normal;">Esta a un paso de recuperar el acceso al "ECOSISTEMA APLHABET" desde su cuenta <span id="nombreUsuarioSolicitud" style="font-size:24px;"> "@ViewBag.NombreUsuario"</span></P>
        <br />





        <h3 class="margen">CAMBIE SU CONTRASEÑA</h3>


        @*<div class="form-floating margen">
            <input id="cambioPassword" type="password" class="form-control" placeholder="nueva contraseña" />
            <label for="floatingInput">Nueva contraseña:</label>

        </div>
        <br>

        <div class="form-floating margen">
            <input id="repiteCambioPassword" type="password" class="form-control" placeholder="Repita su nueva contraseña" />
            <label for="floatingInput">Repita su nueva contraseña: </label>
        </div>*@


        <div class="form-floating margen">
            <input id="cambioPassword" type="password" name="password" class="form-control password1" placeholder="nueva contraseña" />
            <label for="floatingInput">Nueva contraseña:</label>
            <!--- <span class="fa fa-fw fa-eye password-icon show-password2"></span> -->
        </div>

        <div class="form-floating ">
            <input id="repiteCambioPassword" type="password" name="password2" class="form-control password2" placeholder="Repita su nueva contraseña" />
            <label for="floatingInput">Repita su nueva contraseña: </label>
        </div>

        <br />

        <div style="text-align:right;">
            <input  type="checkbox" onclick="MostrarPassword()" /> <label for="MostrarPass">Mostrar contraseñas</label>
        </div>

        <ol class="margen" style="text-align: left;">
            <small class="form-text text-muted">
                Las claves deben:
            <li>Coincidir</li>
            <li>No tener espacios en blanco</li>
            <li>No estar vacias</li>

            </small>
        </ol>


        <div class="col-12 text-center margen">
            <button id="BotonPrimario" class="btn btn-lg" onclick="CambiarPasswordSolicitudExitosa(@ViewBag.idCuentaUsuarioCambiaPass , @ViewBag.folioSolicitud )">
                Cambiar contraseña
            </button>
        </div>
        <br>
    </div>




</section>




